<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Todo List</title>

  <link rel='stylesheet' href='css/styles.css'>
</head>
<body>

  <!-- The name of the list -->
  <div class='container' id='heading'>
    <h1><%= listName %></h1>
  </div>

  <!-- The list items. Each item is accompanied by a checkbox which deletes it -->
  <div class='container'>
      <% listItems.forEach( item => { %>
        <form action='/<%= listName %>/delete' method='post'>
          <div class='item'>
            <input type='checkbox' name='itemID' value='<%= item._id %>' onChange='this.form.submit()'>
            <p><%= item.name %> </p>
          </div>
        </form>
      <% }) %>

    <!-- The add new list item form -->
    <form class='item' action='/<%= listName %>' method='post'>
      <input type='text' name='newItem' placeholder='New item' autocomplete='off'>
      <button type='submit'>+</button>
    </form>
  </div>

</body>
</html>
